In [2]:
import pandas as pd

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [8]:
posts_df1 = pd.read_csv('Data/combined_no_duplicates_post.csv')
posts_df2 = pd.read_excel('Data/OffreF.xlsx')



posts_df2.columns

Index(['Nom_poste', 'Lieu', 'Contrat', 'Description', 'Salaire', 'Experience',
       'Entreprise', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [11]:
#Supprimer les colonnes vides

posts_df2.drop(columns=['Unnamed: 7', 'Unnamed: 8'])

,Nom_poste,Lieu,Contrat,Description,Salaire,Experience,Entreprise
0,Data Engineer/Quant Développeur - Poste en cli...,35 - RENNES,Contrat à durée indéterminée\n\nContrat travail,La société:\n\nFond gérant plus 10 milliards d...,NaN,Expérience exigée de 3 An(s),NaN
1,Chef du pôle Data Innovation (H/F),29 - BREST,CDD - 36 Mois\n\nContrat travail,Notre client : \nL'agence nationale de traitem...,Rémunération selon profil,7 An(s),ELIGERA
2,Chef de Projet Data Center - Confirmé - MOE H/F,75 - PARIS 01,Contrat à durée indéterminée\n\nContrat travail,POSTE : Chef de Projet Data Center - Confirmé ...,NaN,Expérience exigée,Egis Groupe
3,Data Analyst en alternance (H/F),35 - NOYAL SUR VILAINE,Contrat à durée déterminée - 12 Mois\n\nContra...,Vous intégrerez la Direction Logistique d'Ayve...,NaN,Débutant accepté,Temsys
4,Data manager (H/F),Ile-de-France,Profession libérale\n\nEmploi non salarié,Data Scientiste GenAI pour le AI LAB RAG ...,NaN,Expérience exigée de 2 An(s),BI SOLUTIONS
...,...,...,...,...,...,...,...
1576,INGÉNIEUR R&D / DATA SCIENTIST - CDI CLIENT FI...,93 - MONTREUIL,Contrat à durée indéterminée\n\nContrat travail,Nous recherchons pour le compte de notre clien...,NaN,Expérience exigée de 3 An(s),Expectra
1577,Ingénieur Data H/F,78 - MAGNY LES HAMEAUX,Contrat à durée indéterminée\n\nContrat travail,"Fondé en 1996, Claranet est un acteur majeur d...",NaN,Débutant accepté,NaN
1578,Chef de Projet/AMOA Data Galaxy H/F,Ile-de-France,Contrat à durée indéterminée\n\nContrat travail,Activus Group recherche un Chef de Projet/AMOA...,NaN,Expérience exigée,NaN
1579,[Luxe/Retail] / Consultant Master Data Produit...,75 - PARIS 10,Contrat à durée indéterminée\n\nContrat travail,"Cabinet à forte croissance, Cenova accompagne ...",NaN,Expérience exigée,NaN
1580,Consultant Data Gouvernance H/F,76 - MOULINEAUX,Contrat à durée indéterminée\n\nContrat travail,"Fondé en 1996, Claranet est un acteur majeur d...",NaN,Débutant accepté,NaN