In [19]:
import pandas as pd

In [20]:
posts_df=pd.read_excel('Data/df_clean_offres.xlsx')
posts_df

,Nom_poste,Contrat,Description,Experience,Entreprise,missions,profil,stack_technique,groupe_metier,Lieu,experience_mois
0,Chargé(e) de data marketing F/H (H/F),CDI,Le Groupe SAMSE est un groupe Audacieux et Pas...,1 An(s),SAMSE,missions seront variées et stimulantes : analy...,nous recherchons un(e) chargé(e) de data marke...,NaN,Autre,France,12.0
1,Ingénieur base de données (H/F),CDD,L'ingénieur(e) devra organiser de manière stru...,4 Mois,NaN,NaN,NaN,NaN,Data Architect,France,NaN
2,Senior consultant data et transformation digit...,CDD,QUI SOMMES-NOUS ?Le site de Vélizy regroupe le...,Débutant accepté,NaN,NaN,NaN,NaN,Consultant Data,France,0.0
3,Data analyst (H/F),Autre,"*Conception, réalisation et documentation de d...",Expérience exigée de 5 An(s),Mindquest,NaN,NaN,NaN,Data Analyst,France,60.0
4,Développeur / Développeuse Big Data (H/F),Autre,Description de la mission : - Participer au bu...,Expérience exigée de 5 An(s),HAYS MEDIAS,NaN,NaN,NaN,BI / Data Manager,France,60.0
...,...,...,...,...,...,...,...,...,...,...,...
2235,INGÉNIEUR R&D / DATA SCIENTIST - CDI CLIENT FI...,CDD,Nous recherchons pour le compte de notre clien...,Expérience exigée de 3 An(s),Expectra,vous interviendrez également sur le support cl...,pour le compte de notre client un fabricant de...,en lien avec l'activité de l'équipe ia rédiger...,Data Scientist,93 - MONTREUIL,36.0
2236,Ingénieur Data H/F,CDD,"Fondé en 1996, Claranet est un acteur majeur d...",Débutant accepté,NaN,* cadrage des besoins clients : collaborer ave...,NaN,comme apache kafka ou spark). * sécurité des d...,Data Engineer,78 - MAGNY LES HAMEAUX,0.0
2237,Chef de Projet/AMOA Data Galaxy H/F,CDD,Activus Group recherche un Chef de Projet/AMOA...,Expérience exigée,NaN,tâches sur l'outil.,"recherché de minimum 4 ans d'expérience, capab...",NaN,Chef de projet IT,Ile-de-France,NaN
2238,[Luxe/Retail] / Consultant Master Data Produit...,CDD,"Cabinet à forte croissance, Cenova accompagne ...",Expérience exigée,NaN,et une réelle proximité managériale pour vous ...,diplômé(e) d'une ecole de commerce ou d'ingéni...,gestion de projets (jira.) & data visualisatio...,Consultant SI / MOA,75 - PARIS 10,NaN
2239,Consultant Data Gouvernance H/F,CDD,"Fondé en 1996, Claranet est un acteur majeur d...",Débutant accepté,NaN,principales : évaluation des besoins en gouver...,NaN,liés à la gouvernance des données. gestion des...,Consultant Data,76 - MOULINEAUX,0.0

In [21]:
posts_df['full_text_job'] = (
    "[TITRE] " + posts_df['Nom_poste'].fillna('') + '\n' +
    "[groupe_metier] " + posts_df['groupe_metier'].fillna('') + '\n' +
    "[CONTRAT] " + posts_df['Contrat'].fillna('') + '\n' +
    "[DESCRIPTION] " + posts_df['Description'].fillna('') + '\n' +
    "[EXPERIENCE] " + posts_df['Experience'].fillna('') + '\n' +
    "[ENTREPRISE] " + posts_df['Entreprise'].fillna('')
)

posts_df[['Nom_poste', 'full_text_job']].head(3)

,Nom_poste,full_text_job
0,Chargé(e) de data marketing F/H (H/F),[TITRE] Chargé(e) de data marketing F/H (H/F)\...
1,Ingénieur base de données (H/F),[TITRE] Ingénieur base de données (H/F)\n[grou...
2,Senior consultant data et transformation digit...,[TITRE] Senior consultant data et transformati...

In [23]:
candidates_df = pd.read_csv("Data/profile_sans_doublons.xlsx")
candidates_df

,Profil,Lieu_de_recherche,Disponibilité,Points_forts,Expérience,Compétence,Contrat,Metier_regroupe
0,Ingénieur en sécurité et administration systè...,France entière,immédiate,Administration des systèmes et réseaux Archite...,Consultant technique SRA Afrique Casablanca Maroc,Gérer les risques de cybersécurité Avancé Sass...,NaN,Administrateur Systèmes/Réseaux
1,Ingénieur IT Junior – Development | Data | BI ...,France entière,immédiate,Concevoir et gérer un projet Data engineer Big...,Data analysis ToulonFrance,Algorithmique Avancé Analyse statistique Avanc...,NaN,Autre
2,Développeur Python spécialisé en Data Engineering,France entière,immédiate,Anglais technique Data engineer Intelligence a...,MIAGE DAta et Business Intelligence DABI Bac5 ...,Algorithmique Anglais technique Architecture w...,NaN,Data Engineer
3,Data Scientist,France entière,immédiate,Backend Java Python C PHP SQL NoSQL Data Scien...,Data Scientist touwi CaenCette Expérience cont...,Algorithmique Docker GitHub Java Javascript Ku...,NaN,Data Scientist
4,Ingénieur Data & IA | Développeur Python,France entière,immédiate,Big data Analytics Concevoir et gérer un proje...,Ingénieur en Machine Learning stage Decathlon ...,Algorithmique Analyse statistique Big data Ana...,NaN,Développeur
...,...,...,...,...,...,...,...,...
684,Etudiant en mathématiques,France entière,immédiate,NaN,Professeur particulier Acadomia Anacours Aixen...,Adapter lapprentissage selon la progression pé...,NaN,Autre
685,Ingénieur Industriel (Analyse de données & Exc...,France entière,immédiate,ProLogiciels Excellence opérationnelle Méthode...,Consultant en gestion de données Capgemini Eng...,Business Intelligence BI Informatique décision...,NaN,Autre
686,BUSINESS MANAGER ( SALES ET STRATÉGIE ),France entière,immédiate,Représenter sa structure lors dun événement ou...,Directrice commerciale France Afrique SCALA ST...,Concevoir des supports de communication audiov...,NaN,Autre
687,Ingénieur en deep learning et en traitement d'...,France entière,immédiate,Anglais Allemand B Véhicule léger,Stage Superpixels GREYC Caen Caen,Application des méthodes de machine learning d...,NaN,Autre
688,Actuaire junior,France entière,immédiate,Définir la tarification des produits ou des se...,Analyser les données avec Microsoft Power BI,Analyse de données expérimentales Comptabilité...,NaN,Autre

In [24]:

candidates_df['full_text_profile'] = (
    "[PROFIL] " + candidates_df['Profil'].fillna('') + '\n' +
    "[Metier_regroupr] " + candidates_df['Metier_regroupe'].fillna('') + '\n' +
    "[POINTS_FORTS] " + candidates_df['Points_forts'].fillna('') + '\n' +
    "[EXPERIENCE] " + candidates_df['Expérience'].fillna('') + '\n' +
    "[COMPETENCES] " + candidates_df['Compétence'].fillna('')
)

candidates_df[['Profil', 'full_text_profile']].head(3)

,Profil,full_text_profile
0,Ingénieur en sécurité et administration systè...,[PROFIL] Ingénieur en sécurité et administrat...
1,Ingénieur IT Junior – Development | Data | BI ...,[PROFIL] Ingénieur IT Junior – Development | D...
2,Développeur Python spécialisé en Data Engineering,[PROFIL] Développeur Python spécialisé en Data...

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

job_texts = posts_df['full_text_job'].fillna('').tolist()
profile_texts = candidates_df['full_text_profile'].fillna('').tolist()

vectorizer = TfidfVectorizer()
all_texts = job_texts + profile_texts
tfidf_matrix = vectorizer.fit_transform(all_texts)

tfidf_jobs = tfidf_matrix[:len(job_texts)]
tfidf_profiles = tfidf_matrix[len(job_texts):]

similarity_matrix = cosine_similarity(tfidf_jobs, tfidf_profiles)

top_matches = []
for job_idx, similarities in enumerate(similarity_matrix):
    top_indices = similarities.argsort()[-3:][::-1] 
    for rank, profile_idx in enumerate(top_indices, start=1):
        top_matches.append({
            'Nom_poste': posts_df.iloc[job_idx]['Nom_poste'],
            'Profil_candidat': candidates_df.iloc[profile_idx]['Profil'],
            'Score_similarité': round(similarities[profile_idx], 3),
            'Rang': rank
        })

top_matches_df = pd.DataFrame(top_matches)
print(top_matches_df)

                                              Nom_poste  \
0                 Chargé(e) de data marketing F/H (H/F)
1                 Chargé(e) de data marketing F/H (H/F)
2                 Chargé(e) de data marketing F/H (H/F)
3                       Ingénieur base de données (H/F)
4                       Ingénieur base de données (H/F)
...                                                 ...
6715  [Luxe/Retail] / Consultant Master Data Produit...
6716  [Luxe/Retail] / Consultant Master Data Produit...
6717                    Consultant Data Gouvernance H/F
6718                    Consultant Data Gouvernance H/F
6719                    Consultant Data Gouvernance H/F

                                        Profil_candidat  Score_similarité  \
0     Chef de Produit avec pour objectif de développ...             0.235
1     Senior Data Analyst, j’ai travaillé en tant qu...             0.198
2     A la recherche d'un emploi dans le Business In...             0.196
3                          Data Analyst avec expérience             0.149
4                                Ingénieur informatique             0.145
...                                                 ...               ...
6715                                     DATA SCIENTIST             0.204
6716                                     DATA SCIENTIST             0.203
6717          chargé d'étude statistique/Data scientist             0.309
6718                                     DATA SCIENTIST             0.301
6719  A la recherche d'un emploi dans le Business In...             0.296

      Rang
0        1
1        2
2        3
3        1
4        2
...    ...
6715     2
6716     3
6717     1
6718     2
6719     3

[6720 rows x 4 columns]

In [26]:
top_matches_df.to_excel('Data/Top_matches.xlsx', index=False)

In [2]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

# Chargement des fichiers
posts_df = pd.read_csv('combined_no_duplicates_post.csv')
candidates_df = pd.read_csv('combined_no_duplicates.csv')

# Création du texte structuré pour chaque offre
posts_df['full_text_job'] = (
    "[TITRE] " + posts_df['Nom_poste'].fillna('') + '\n' +
    "[CONTRAT] " + posts_df['Contrat'].fillna('') + '\n' +
    "[DESCRIPTION] " + posts_df['Description'].fillna('') + '\n' +
    "[SALAIRE] " + posts_df['Salaire'].fillna('') + '\n' +
    "[EXPERIENCE] " + posts_df['Experience'].fillna('') + '\n' +
    "[ENTREPRISE] " + posts_df['Entreprise'].fillna('')
)

# Création du texte structuré pour chaque candidat
candidates_df['full_text_profile'] = (
    "[PROFIL] " + candidates_df['Profil'].fillna('') + '\n' +
    "[POINTS_FORTS] " + candidates_df['Points_forts'].fillna('') + '\n' +
    "[EXPERIENCE] " + candidates_df['Expérience'].fillna('') + '\n' +
    "[COMPETENCES] " + candidates_df['Compétence'].fillna('')
)

# Chargement du modèle multilingue
model = SentenceTransformer("paraphrase-multilingual-MiniLM-L12-v2")

# Encodage des textes
job_texts = posts_df['full_text_job'].tolist()
profile_texts = candidates_df['full_text_profile'].tolist()

job_embeddings = model.encode(job_texts, show_progress_bar=True)
profile_embeddings = model.encode(profile_texts, show_progress_bar=True)

# Similarité cosinus
similarity_matrix = cosine_similarity(job_embeddings, profile_embeddings)

# Top 3 matching
top_matches = []
for job_idx, similarities in enumerate(similarity_matrix):
    top_indices = similarities.argsort()[-3:][::-1]
    for rank, profile_idx in enumerate(top_indices, start=1):
        top_matches.append({
            'Nom_poste': posts_df.iloc[job_idx]['Nom_poste'],
            'Profil_candidat': candidates_df.iloc[profile_idx]['Profil'],
            'Score_similarité': round(similarities[profile_idx], 3),
            'Rang': rank
        })

top_matches_df = pd.DataFrame(top_matches)
print(top_matches_df.head(10))

ModuleNotFoundError: No module named 'pandas'